main.container {
    padding-top: 50px;
}

h1 {
    text-align: center;
}

section#visualization-section {
    margin: 50px 0;
}

#maze {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border: 1px solid #333;
    height: 400px;
    width: 400px;
}

#maze tr {
    height: 60px;
}

#maze td {
    text-align: center;
    border: 2px solid blue;
    background-color: deepSkyBlue;
    width: 60px;
    font-size: 40px;
    padding: 0;
}