<!DOCTYPE html>
<html ng-app="mazeApp">
<head>
    <title>Maze Generator</title>

    <!-- Fonts -->

    <style>
        @import url('https://fonts.googleapis.com/css?family=Audiowide');
    </style>

    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <!-- JavaScript -->

    <script type="text/javascript" src="third_party/angular.min.js"></script>
    <script type="text/javascript" src="third_party/sylvester.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<body>

<main class="container">

    <h1>Amazeballs</h1>

    <section id="visualization-section" ng-controller="MazeController as maze">

        <table id="maze">
            <tr ng-repeat="row in maze.grid track by $index">
                <td
                    ng-repeat="cell in row track by $index"
                    ng-class="{
                        'visited-right-once': cell.right === 1,
                        'visited-below-once': cell.below === 1,
                        'visited-right-twice': cell.right === 2,
                        'visited-below-twice': cell.below === 2
                    }">
                    <div class="square" ng-class="{
                        'visited-once': cell.visited === 1,
                        'visited-twice': cell.visited === 2
                        }">
                    </div>
                </td>
            </tr>
        </table>

        <div class="button-container">
            <button ng-click="maze.reset()">Reset</button>
        </div>

    </section>

</main>

</body>
</html>