$open-color: white;
$wall-color: #333
$cell-height: 10px
$border-width: 10px

main.container
    padding-top: 50px
    color: #333

    h1
        text-align: center
        font-family: Audiowide, sans-serif
        text-transform: uppercase

    #visualization-section
        margin: 50px 0

        #maze
            margin: 0 auto
            text-align: center
            border-collapse: separate;
            border-spacing: 0;
            border-top: $border-width solid $wall-color
            border-left: $border-width solid $wall-color
            position: relative;

            td
                text-align: center
                border-right: $border-width solid $wall-color
                border-bottom: $border-width solid $wall-color
                border-top: none
                border-left: none
                padding: 0
                position: relative

                .square
                    width: $cell-height
                    height: $cell-height
                    background-color: $wall-color

                .square.open
                    background-color: $open-color

                .square::before
                    content: ""
                    display: inline-block
                    position: absolute
                    width: $cell-height
                    height: $cell-height
                    background-color: $wall-color
                    right: $cell-height
                    bottom: $cell-height

            td.open-right
                border-right-color: $open-color
            td.open-below
                border-bottom-color: $open-color

        // Pseudo element to cover the edges of the maze where you can get weird border effects
        #maze::after
            content: ""
            display: inline-block
            height: 400px
            width: 400px
            position: absolute
            right: 0
            bottom: 0
            border-right: $border-width solid $wall-color
            border-bottom: $border-width solid $wall-color





