main.container {
  padding-top: 50px;
  color: #333;
}

main.container h1 {
  text-align: center;
  font-family: Audiowide, sans-serif;
  text-transform: uppercase;
}

main.container #visualization-section {
  margin: 50px 0;
}

main.container #visualization-section #maze {
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
}

main.container #visualization-section #maze tr {
  height: 100px;
}

main.container #visualization-section #maze td {
  text-align: center;
  border: 2px solid lightskyblue;
  background-color: lightskyblue;
  width: 100px;
  font-size: 20px;
}

main.container #visualization-section #maze td.wall-left {
  border-left-color: #333;
}

main.container #visualization-section #maze td.wall-right {
  border-right-color: #333;
}

main.container #visualization-section #maze td.wall-top {
  border-top-color: #333;
}

main.container #visualization-section #maze td.wall-bottom {
  border-bottom-color: #333;
}
