main.container {
  padding-top: 40px;
  color: #333;
  font-size: 1.6rem;
}

main.container h1 {
  text-align: center;
  font-family: Audiowide, sans-serif;
  text-transform: uppercase;
}

main.container #visualization-section {
  margin: 30px 0 0;
}

main.container #visualization-section #maze {
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  position: relative;
}

main.container #visualization-section #maze td {
  text-align: center;
  border-right: 10px solid #333;
  border-bottom: 10px solid #333;
  border-top: none;
  border-left: none;
  padding: 0;
  position: relative;
}

main.container #visualization-section #maze td .square::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  right: 10px;
  bottom: 10px;
}

main.container #visualization-section #maze td .square {
  width: 10px;
  height: 10px;
  background-color: #333;
}

main.container #visualization-section #maze td .square.visited-once.classic {
  background-color: deepskyblue;
}

main.container #visualization-section #maze td .square.visited-twice.classic {
  background-color: white;
}

main.container #visualization-section #maze td .square.visited-once.rudeboy {
  background-color: red;
}

main.container #visualization-section #maze td .square.visited-twice.rudeboy {
  background-color: yellow;
}

main.container #visualization-section #maze td .square.visited-once.negative {
  background-color: deepskyblue;
}

main.container #visualization-section #maze td .square.visited-twice.negative {
  background-color: #333;
}

main.container #visualization-section #maze td.visited-right-once.classic {
  border-right-color: deepskyblue;
}

main.container #visualization-section #maze td.visited-below-once.classic {
  border-bottom-color: deepskyblue;
}

main.container #visualization-section #maze td.visited-right-twice.classic {
  border-right-color: white;
}

main.container #visualization-section #maze td.visited-below-twice.classic {
  border-bottom-color: white;
}

main.container #visualization-section #maze td.visited-right-once.rudeboy {
  border-right-color: red;
}

main.container #visualization-section #maze td.visited-below-once.rudeboy {
  border-bottom-color: red;
}

main.container #visualization-section #maze td.visited-right-twice.rudeboy {
  border-right-color: yellow;
}

main.container #visualization-section #maze td.visited-below-twice.rudeboy {
  border-bottom-color: yellow;
}

main.container #visualization-section #maze td.visited-right-once.negative {
  border-right-color: deepskyblue;
}

main.container #visualization-section #maze td.visited-below-once.negative {
  border-bottom-color: deepskyblue;
}

main.container #visualization-section #maze td.visited-right-twice.negative {
  border-right-color: #333;
}

main.container #visualization-section #maze td.visited-below-twice.negative {
  border-bottom-color: #333;
}

main.container #visualization-section #maze::after {
  content: "";
  display: inline-block;
  height: 400px;
  width: 800px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 10px solid #333;
  border-bottom: 10px solid #333;
}

main.container #visualization-section #maze.negative {
  border-top: 10px solid white;
  border-left: 10px solid white;
}

main.container #visualization-section #maze.negative td {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

main.container #visualization-section #maze.negative td .square::before {
  background-color: white;
}

main.container #visualization-section #maze.negative td .square {
  background-color: white;
}

main.container #visualization-section #maze.negative::after {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

main.container #visualization-section .button-container {
  padding: 20px;
  text-align: center;
}

main.container #visualization-section .button-container * {
  display: inline-block;
}

main.container #visualization-section .button-container select {
  width: 100px;
}

main.container #visualization-section .button-container input[type="number"] {
  width: 60px;
}

main.container #visualization-section .button-container label {
  padding-right: 10px;
}

main.container #visualization-section .button-container button {
  font-family: Audiowide, sans-serif;
}

main.container #explanation-section .sign-off {
  text-align: center;
  font-size: 12px;
}

main.container #explanation-section .sign-off .heart {
  color: red;
}
